.buttonCircle{
    display: flex;
    align-items: center;
    
}

.div-buttonCircle{
    display:flex ;
    justify-content: center;
    padding-bottom: 0.6rem;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 3rem;
    height: 3rem;
    color: rgba(107, 105, 105, 0.651);
    font-size: 3rem;
    background-color: rgba(107, 105, 105, 0.199);
    border-radius: 3rem;
    box-shadow: 0px 1px 10px gray;

        
}
.div-buttonCircle:hover{
    cursor: pointer;
   
    
}







