.Form{
    display: flex;
    justify-content: center;
   
  
}
  
.mmodal{
    display: flex;
    justify-content: center;
    
  

}


.ant-modal{
    width: 23rem !important;
}


.inputForm{
    height: 3rem;
    width: 20rem;
    margin-top: auto;
    margin-bottom: auto;  

}
.inputForm::placeholder{
    text-align: start
}


@media (max-width:500px) {

    .Form{
       
        width: 80% !important;
    }

    .inputForm{
        width: 340px !important;
        margin-left: 0.9rem !important;
    }
      
    
  }


  @media (max-width:360px) {

    .Form{
       
        width: 80% !important;
    }

    .inputForm{
        width: 290px !important;
        margin-left: 0.7rem !important;
    }
      
    
  }